<% content_for :strapline do %>
	I have a passion for <span class="highlighted">web design</span> and a skill for creating <span class="highlighted">clean layouts</span> that ensure an <span class="highlighted">intuitive user experience</span>
<% end %>
<div id="about">
	<div class="about_section">
		<div class="about_section_left">
			<h1>CMS Project</h1>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
		</div>
		<div class="about_section_right">
			<%= image_tag 'sanderstead_parish/leader.jpg' %>
		</div>
	</div>
</div>