<div id="strapline">
	<p>Please fill out the form to <span class="highlighted">get in touch.</span>. I'll be sure to respond <span class="highlighted">as soon as possible!</span></p>
</div>

<div id="main_content">
	<h1>Contact me</h1>
	<%= render 'layouts/contact_form' %>
</div>