<div id="strapline">
	<p>Please <span class="highlighted">download</span> a copy of my <span class="highlighted">CV</span></p>
</div>

<div id="main_content" class="narrow">
	<h1>CV</h1>	
	<p id="cv_link"><%= link_to 'Click here', 'https://docs.google.com/document/pub?id=1jUY76zFpKWDEK3Loo1P9u0yCce3PnwQpLCNJPP3HFSY' %> to view a printable online copy</p>	
	<div id="embedded_cv">
		<iframe src="https://docs.google.com/document/pub?id=1jUY76zFpKWDEK3Loo1P9u0yCce3PnwQpLCNJPP3HFSY&amp;embedded=true"></iframe>
	</div>
</div>